################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/EasySave v2.0/FileContentIndex/0540c099-32ee-40eb-a3f7-467d80cbc77b.vsidx
/.vs/EasySave v2.0/FileContentIndex/1ba0994e-bf14-4769-a9e3-24bca3941d05.vsidx
/.vs/EasySave v2.0/FileContentIndex/4e50fa51-a9e9-4f6a-9148-bc612d9323aa.vsidx
/.vs/EasySave v2.0/FileContentIndex/6418f68d-0151-4deb-8582-9afeafc03c9b.vsidx
/.vs/EasySave v2.0/FileContentIndex/d1234fcb-36a2-4411-978a-7cb8e1ac733d.vsidx
/WpfApp2/.vs/WpfApp2/FileContentIndex/292fd106-a441-4098-9f86-139f0c366952.vsidx
/WpfApp2/.vs/WpfApp2/FileContentIndex/6827999f-ac8f-4a86-bd88-bab731a1abef.vsidx
/WpfApp2/.vs/WpfApp2/FileContentIndex/ca2fa389-bc04-429e-b94e-a685b9421293.vsidx
/WpfApp2/.vs/WpfApp2/FileContentIndex/7ad5b45f-a6e1-4aef-84ec-d1c9a8d10741.vsidx
